<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Nyaay Sahaayak</title>
<link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>
    <header class="container header">
  
        <nav class="nav">
          <div class="logo">
            <h2>Nyaay Sahaayak</h2>
          </div>
        </nav>
      </header>
<div class="body1">
<div id ="instruct" class="Instruct">
    <h2>
    FAQs
    </h2>
    <button class="faqs-button ">
        What are the fundamental rights guaranteed by the Indian Constitution?
        </button>
    <button class="faqs-button ">
        What are the rights of an accused person in India?
    </button>
    <button class="faqs-button ">
        What are the legal requirements for starting a business in India?
    </button>
    <button class="faqs-button ">
        What are the rights of women and minorities under Indian law?
    </button>
    <button class="faqs-button ">
        What is the procedure for filing a case in Indian courts?
    </button>
    <p>

    </p>
</div>
<div class="container">
    <div class="chat-box" id="chatBox"></div>
    <div class="input-box">
        <input type="text" id="user-input" placeholder="Ask Nyaay Sahaayak...">
    </div>
    <p style="font-size: 1vw; color: grey; text-align: center; margin-top: 8px;">Nyaay Sahaayak provides general guidance on Indian laws, but it's not a substitute for professional legal advice; use responsibly.</p>
</div>
<div id ="instruct" class="Warn">
    <h2 id="changingHeading">
        Attention
    </h2>
    <p id="changingText" style="padding-left:10px; margin-right: vw; text-align: left; margin-top: 0.5vw;">
        Kindly ensure your queries are specific and relevant to Indian legal matters. Maintaining clarity and focus in your questions will optimize the Nyaay Sahaayak's assistance. Thank you for your cooperation.
    </p>
</div>
</div>

<script src="script1.js">
</script>
</body>
</html>
